.titulo {
  font-size: 0.9rem;
  text-align: center;
}
.subtitulo {
  font-size: 0.75rem;
  text-align: center;
}
.content {
  border-bottom: 0.5px solid gray;
}
.bg_bigger {
  background-color: #c2f0c2;
}
.bg_red {
  color: white;
  background-color: red;
}
.bg_black {
  color: white;
  background-color: black;
}
.bg_green {
  color: white;
  background-color: green;
}
.numbers-select {
  text-align: center;
  border: 1px solid gray;
}
.rounded {
  border-radius: 1px;
}