.titulo {
  font-size: 0.9rem;
  text-align: center;
}
.subtitulo {
  font-size: 0.75rem;
  text-align: center;
}
.content {
  border-bottom: 0.5px solid gray;
}

.bg_bigger {
  background-color: #c2f0c2;
}