<div class="row m-1" style="border: 1px solid gray">
  <div class="col-12" style="text-align: center">
		<h4> Análise Últimos Números </h4>    
		<div class="row titulo">   
			<div class="col-4">Local</div>
			<div class="col-4">Qtd.</div>
			<div class="col-4">%</div>
		</div>
  </div>
	<div class="pt-2" *ngFor="let analyze of analyzes">
		<!-- <div class="col-12 ">{{ analyze.title }}</div> -->
		<div *ngFor="let option of analyze.options">
			<div class="row subtitulo content mx-2"
			[ngClass]="{'bg_bigger': option.bigger == true }"  >
				<div class="col-4">{{ option.name    }}</div>
				<div class="col-4">{{ option.amount  }}</div>
				<div class="col-4">{{ option.porcent }}</div>
			</div>
		</div>
  </div>
</div>