.bg_red {
  color: white;
  background-color: red;
}

.bg_black {
  color: white;
  background-color: black;
}

.bg_green {
  color: white;
  background-color: green;
}

.numbers-select {
  text-align: center;
  border: 1px solid gray;
}

.rounded {
  border-radius: 1px;
}
