<div class="row m-0">
	<div class="p-1" *ngFor="let number of sequenceNumbers; let i = index" style="width: 2rem; text-align: center;">
		<div *ngIf="i < 50 && i == 0" class="rounded" style="cursor: pointer;"
			[ngClass]="{ 'bg_red': number.color === 1, 'bg_black': number.color === 2, 'bg_green': number.color === 0 }"
			(click)="removeNumber()">
			<p class="m-0"> {{ number.number }} </p>
		</div>
		<div *ngIf="i < 50 && i != 0" class="rounded"
			[ngClass]="{ 'bg_red': number.color === 1, 'bg_black': number.color === 2, 'bg_green': number.color === 0 }">
			<p class="m-0"> {{ number.number }} </p>
		</div>
	</div>
</div>
<div class="row mx-2">
	<div class="col-3">
		<div class="col-12">
			<app-numbers-select (number)="getNumber($event)"></app-numbers-select>
		</div>
		<div class="col-12 p-0">
			<app-analyzes #analyzes [sequenceNumbers]="sequenceNumbers"></app-analyzes>
		</div>
	</div>
	<div class="col-3 p-0">
		<app-analyzes #analyzes_number [sequenceNumbers]="sequenceNumbers" [analyzes_number]="true"></app-analyzes>
	</div>
	<div class="col-3 p-0">
		<app-analyzes #analyzes_neighbor [sequenceNumbers]="sequenceNumbers" [analyzes_neighbor]="true"></app-analyzes>
	</div>
</div>